services:
  frontend:
    build: 
      context: ./frontend
      dockerfile: Dockerfile-dev
    ports:
      - "5173:5173"
    volumes:
      - ./frontend:/app/frontend
      - /app/frontend/node_modules
    environment:
      - CHOKIDAR_USEPOLLING=true
      - VITE_API_URL=http://localhost/api    # или что у тебя там
    command: npm run dev -- --host
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:5173"]   # главное
      interval: 3s
      timeout: 5s
      retries: 20
      start_period: 3s
    networks:
      - internal

  backend:
    build: ./backend
    ports:
      - "3000:3000"
    depends_on:
      - mongo
      - redis
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:3000"]   # или /health
      interval: 5s
      timeout: 5s
      retries: 15
    networks:
      - internal

  server:     # ← nginx
    build:
      context: ./nginx
      dockerfile: Dockerfile-dev
    ports:
      - "80:80"
    depends_on:
      - frontend
      - backend
    networks:
      - internal

  mongo:
    image: mongo:8
    ports:
      - "27017:27017"
    volumes:
      - mongo-data:/data/db
    healthcheck:
      test: echo 'db.runCommand("ping").ok' | mongosh localhost:27017/test --quiet
      interval: 5s
      timeout: 5s
      retries: 20
    networks:
      - internal

  redis:
    image: redis:8-alpine
    networks:
      - internal

volumes:
  mongo-data:

networks:
  internal: